In [1]:
import os
import pandas as pd
from tqdm import tqdm, tqdm_notebook

In [4]:
df_chunk = pd.read_csv(r"C:\Users\raaga\Desktop\cmpe272\Medicare_Provider_Util_Payment_PUF_CY2017.txt",sep= '\t', lineterminator = '\r', chunksize =100000, error_bad_lines=False)

In [5]:
chunk_list = []  # append each chunk df here 

# Each chunk is in df format
i = 0
for chunk in df_chunk:  
    i+=1
    print(i)
    # perform data filtering 
#     chunk_filter = chunk_preprocessing(chunk)
    
    # Once the data filtering is done, append the chunk to list
    chunk_list.append(chunk)
    
# concat the list into dataframe 
df_concat = pd.concat(chunk_list)

1
2

C:\Users\raaga\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98

C:\Users\raaga\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

99

In [6]:
print(df_concat)

                  npi                       nppes_provider_last_org_name  \
0                   1  CPT copyright 2016 American Medical Associatio...
1          1003000126                                          ENKESHAFI
2          1003000126                                          ENKESHAFI
3          1003000126                                          ENKESHAFI
4          1003000126                                          ENKESHAFI
...               ...                                                ...
9847440  \n1992999874                                              JOFFE
9847441  \n1992999874                                              JOFFE
9847442  \n1992999874                                              JOFFE
9847443  \n1992999874                                              JOFFE
9847444            \n                                                NaN

        nppes_provider_first_name nppes_provider_mi nppes_credentials  \
0                             NaN               NaN               NaN
1                         ARDALAN               NaN              M.D.
2                         ARDALAN               NaN              M.D.
3                         ARDALAN               NaN              M.D.
4                         ARDALAN               NaN              M.D.
...                           ...               ...               ...
9847440                 GABRIELLA               NaN               NaN
9847441                 GABRIELLA               NaN               NaN
9847442                 GABRIELLA               NaN               NaN
9847443                 GABRIELLA               NaN               NaN
9847444                       NaN               NaN               NaN

        nppes_provider_gender nppes_entity_code nppes_provider_street1  \
0                         NaN               NaN                    NaN
1                           M                 I           900 SETON DR
2                           M                 I           900 SETON DR
3                           M                 I           900 SETON DR
4                           M                 I           900 SETON DR
...                       ...               ...                    ...
9847440                     F                 I          8260 ATLEE RD
9847441                     F                 I          8260 ATLEE RD
9847442                     F                 I          8260 ATLEE RD
9847443                     F                 I          8260 ATLEE RD
9847444                   NaN               NaN                    NaN

        nppes_provider_street2 nppes_provider_city  ... hcpcs_code  \
0                          NaN                 NaN  ...        NaN
1                          NaN          CUMBERLAND  ...      99217
2                          NaN          CUMBERLAND  ...      99218
3                          NaN          CUMBERLAND  ...      99219
4                          NaN          CUMBERLAND  ...      99220
...                        ...                 ...  ...        ...
9847440       MOB 2, SUITE 319      MECHANICSVILLE  ...      99223
9847441       MOB 2, SUITE 319      MECHANICSVILLE  ...      99232
9847442       MOB 2, SUITE 319      MECHANICSVILLE  ...      99233
9847443       MOB 2, SUITE 319      MECHANICSVILLE  ...      99239
9847444                    NaN                 NaN  ...        NaN

                                         hcpcs_description  \
0                                                      NaN
1                      Hospital observation care discharge
2           Hospital observation care typically 30 minutes
3           Hospital observation care typically 50 minutes
4        Hospital observation care typically 70 minutes...
...                                                    ...
9847440  Initial hospital inpatient care, typically 70 ...
9847441  Subsequent hospital inpatient care, typically ...
9847442  Subsequent hospital inpatient care, typically ...
9847443  Hospital discharge day management, more than 3...
9847444                                                NaN

        hcpcs_drug_indicator line_srvc_cnt bene_unique_cnt bene_day_srvc_cnt  \
0                        NaN           NaN             NaN               NaN
1                          N         100.0            96.0             100.0
2                          N          26.0            25.0              26.0
3                          N          52.0            51.0              52.0
4                          N          59.0            59.0              59.0
...                      ...           ...             ...               ...
9847440                    N          41.0            41.0              41.0
9847441                    N         101.0            57.0             101.0
9847442                    N         102.0            55.0             102.0
9847443                    N          49.0            49.0              49.0
9847444                  NaN           NaN             NaN               NaN

        average_Medicare_allowed_amt average_submitted_chrg_amt  \
0                                NaN                        NaN
1                          73.398800                 325.780000
2                         100.080000                 449.000000
3                         136.380000                 614.000000
4                         190.363729                 755.932203
...                              ...                        ...
9847440                   203.400000                 496.000000
9847441                    72.480000                 176.000000
9847442                   104.760000                 254.000000
9847443                   107.980000                 262.000000
9847444                          NaN                        NaN

        average_Medicare_payment_amt  average_Medicare_standard_amt
0                                NaN                            NaN
1                          56.827200                      57.492400
2                          78.460000                      79.306154
3                         102.807692                     103.895385
4                         141.293559                     142.865763
...                              ...                            ...
9847440                   225.564634                     155.800732
9847441                    83.200000                      57.390000
9847442                   119.450784                      82.450490
9847443                   123.950000                      85.540000
9847444                          NaN                            NaN

[9847445 rows x 26 columns]